<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <table class = 'table'?>
       <thead>
        <tr>
           <th>URL</th>
            <th>META DESCRIPTION</th>
           <th>TITLE</th>
           <th>ALEXA RANK</th>
           <th>CATEGORY</th>
        </tr>
       </thead>
        <tr>
            <td>{{ obj.url }}</td>
            <td>{{ obj.meta_description }}</td>
            <td>{{ obj.title }}</td>
            <td>{{ obj.alexa_rank }}</td>
            <td>{{ obj.category }}</td>
        </tr>
   </table>

</body>
</html>